@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
body, html {
    overflow: hidden;
    background-color: transparent;
}

section {
    min-height: 100vh; 
}

.barra-navegacao {
    background-color:transparent;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Nome do título */
.nome-titulo {
    font-family: 'Alex Brush', cursive;
    font-size: 2.5rem; 
    font-weight: 700; 
    color: #f4e6cc; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5); 
    opacity: 0.8; 
    padding-left: 4rem;
}

.nome-titulo:hover {
    color: #d44e2c;
    text-decoration: none;
}

.button-menu{
    display: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    margin-left: auto;          
    top: -5px;
}
#menu-escuro{
    display: none;
}

#alterar-tema{
    background: transparent;
    border: transparent;
    position: absolute;
    left: auto; 
    top: 25%; 
}
#alterar-tema:focus,
#alterar-tema:active {
    outline: none;
    border: none;
    box-shadow: none; 
}

/* Links de navegação */
.nav-bar {
    display: flex; /* Flexbox para os links ficarem na mesma linha */
    gap: 0.6rem; /* Espaçamento entre os links */
}

.nav-link {
    font-size: 1rem;
    color: #f4e6cc;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-link:hover {
    color: #d44e2c;
}
.nav-link.active {
    color: #d44e2c; 
}
/* Home*/
.section-home {   
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #2c202c; /* Cor de fundo */
    align-items: top;  
}
.boas-vindas {
    width: 80%; 
    left:50%;
    top: 50%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%); 
    text-align: left; 
    color: #f4e6cc;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    padding: 2%;
    background-color: rgba(44, 32, 44, 0.8);
    border-radius: 1%; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); 
    
} 
.pre-formatado {
    color: #d4d4d4;
    font-family: 'Courier New', monospace;
    font-size: 90%;
    white-space: pre-line; 
    overflow-wrap: break-word;
    overflow-y: hidden;   
}

.img-home{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-home img {
    object-fit: contain;
    animation: fadeInScale 4s ease-out infinite; 
    border-radius: 50%; 
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.9); 
}
@keyframes fadeInScale {
    0% {
        opacity: 0.3; 
        transform: scale(0.5); 
    }
    25% {
        opacity: 0.7; 
        transform: scale(0.5);
    }
    50% {
        opacity: 0.3; 
        transform: scale(0.5) ;
    }
    75% {
        opacity: 0.7; 
        transform: scale(0.5) ;
    }
    100% {
        opacity: 1; 
        transform: scale(0.5) ;
    }
}
.txt-home {
    position: absolute;
    top: 65%; 
    left: 5%; 
    width: 60%; 
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5rem; 
    font-weight: 500; 
    color:  #d1b68d; 
    line-height: 1.8; 
    text-align: justify; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); 
}
.typed-cursor {
    display: inline-block;
    width: 10px;
    height: 1.2em;
    margin-left: 0.5%;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}
.multiple-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: #f4e6cc;
    vertical-align: middle; 
    line-height: 1.5; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 0 0 25px rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.container-Sociais {
    position: absolute;
    top: 85%; 
    right: 5%;
    display: flex;
    justify-content: space-between; 
    width: 40%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); 

}
.container-Sociais p {
    font-family: 'Raleway', sans-serif; 
    font-size: 1.2rem; 
    font-weight: 300; 
    color: #f4e6cc; 
    text-align: center; 
    letter-spacing: 0.2ch; 
    padding-top: 2%;
}

.social-logo {
    width: auto; 
    height: 40px;  
    transition: transform 0.3s ease; 
    background-color: #d1b68d;
    border-radius: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.social-logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    filter: brightness(1.2);
}

/*Sobre*/

.section-sobre {
    display: flex;
    justify-content: space-between;
    text-align: justify; 
    background-color: #423642;
}
.txt-sobre {
    padding-top: 8%;
    padding-left: 5%; 
    max-width: 50vw; 
    font-size: 1.1rem; 
    line-height: 1.6;
    color:#f2e8c6;
    font-family: 'Poppins', sans-serif;
    
}
.section-sobre img {
    width: 40vw; 
    height: auto; 
    object-fit: cover; 
}
.img-sobre {
    object-fit: cover;
    transition: transform 0.3s ease;
}

/*Projetos*/

.section-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #2c202c;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20%; 
    justify-items: center; 
    width: 100%;
    max-width: 400px; 
}
.card-cosmepedia-front {
    background-color: #072847;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 25vh;
    justify-content: center;
    border-radius: 3%;
}
.card-cosmepedia-back {
    background-color:#072847;
    border-radius: 3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 25vh;
    justify-content: center;
}
.img-cosmepedia-back{
    width: 100%;
    height: 100%; 
    object-fit: contain; 
}
.card:hover {
    transform: translateY(-5px);
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
}
.card:hover .overlay {
    opacity: 1;
}
.overlay h3 {
    margin: 0 0 0.2rem 0; 
    font-size: 1.25rem; 
    font-weight: bold;
}
.project-description {
    font-size: 0.75rem;
    text-align: justify;
    margin: 0;
    max-width: 100%;
    color: #f2e8c6;
}

/*Contato*/

.section-contato {
    background-color: #423642;
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
form {
    display: flex;
    flex-direction: column;
    gap: 3ch; 
    width: 40%; 
    padding: 1% 1%;
    background-color:#d1b68d;
    border-radius: 2%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 1); 
}
form label {
    font-weight: bold;
    color:#f2e8c6;
    font-size: 1rem;
}
form input, form textarea {
    padding: 1%;
    border: 2px solid #f2e8c6;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;  
    color: #2c202c;
}
form textarea {
    resize: none; 
}
form button {
    width: 20%;
    background-color: #007BFF; 
    color: #f2e8c6;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}
form button:hover {
    background-color: #0056b3; 
}

/* responsividade*/

@media (min-width:280px){
    #alterar-tema{
        top: 0;   
    }
    .barra-navegacao {
        width: 100%;
        height: 7vh;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nome-titulo {
        font-size: 1.2rem;
    }
    .button-menu {
        display: inline-block;
        position: absolute; 
        top: 10px;
        left: 85%;
        transform: translateY(-50%);
    }
    .button-menu svg{
        width: 15px;
        height: 15px;
    }
    .button-menu:focus {
        outline: none; /* Remove a borda de foco ao clicar */
    }
    .nav-bar {
        display: none; 
        flex-direction: row;
        position: absolute;
        top: 40px; 
        width: max-content; /* Ocupa apenas o espaço dos links */
        gap: 0;
        left: 50%;
        transform: translateX(-50%); 
    }
    .nav-link {
        font-size: 0.6rem;
    }
    .nav-bar.show {
        display: flex;
    }
    .img-home{
        height: 40%;
        margin-top: 10%;
    }
    .boas-vindas {
        display: none;
    } 
    .txt-home {
        top: 50%; 
        left: 5%; 
        width: 80%; 
        font-size: 0.7rem; 
    }
    .multiple-text {
        font-size: 0.9rem;
    }
    .container-Sociais {
        width: 80%; 
    }
    .container-Sociais p {
     font-size: 0.6rem;
    }
    .social-logo {
        height: 20px;  
    }
    .section-sobre {
        flex-direction: column;
        text-align: justify; 
    }
    .txt-sobre {
        padding-top: 20%;
        padding-left: 5%; 
        max-width: 95vw; 
        font-size: 0.5rem; 
        line-height: 1.5;   
    }
    
    .section-sobre img {
        align-self: center;
        position: relative;
        top: -30px;
    }
    .overlay h3 {
        font-size: 0.8rem; 
    }
    .project-description {
        font-size: 0.6rem;
    }
    .section-contato {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh;
    }
    form {
        margin-top: 10%;
        gap: 1ch; 
        width: 80%; 
        height: 80vh;
    }

}
@media (min-width:321px) {
    #alterar-tema{
        top: 5px;
    }
    .button-menu {
        left: 88%;
        top: 20px;
    }
    .button-menu svg{
        width: 16px;
        height: 16px;
    }
    .nome-titulo {
        font-size: 1.5rem;
    }
    .img-home{
        height: 40%;
        margin-top: 5%;
    }
    .boas-vindas {
        display: flex;
        font-size: 1.1rem;
    } 
    .txt-home {
        top: 65%; 
        font-size: 0.8rem; 
    }
    .multiple-text {
        font-size: 1rem;
    }
    .container-Sociais {
        width: 70%; 
    }
    .container-Sociais p {
     font-size: 0.7rem;
    }
    .txt-sobre {
        padding-top: 25%;
        font-size: 0.6rem; 
    }
    .section-sobre img {
        width: 250px;
        align-self: center;
        position: relative;
        top: -40px;
    }
    form {
        gap: 1ch; 
        width: 80%; 
        height: 70vh;
    }
}
@media (min-width:393px) {
    .button-menu{
        top: 20px;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 80%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.4rem;
    }
    .social-logo {
        height: 20px;
        width: auto; 
        max-height: 25px; 
    }
    .section-sobre {
        flex-direction: column;
        text-align: justify; 
    }
    .txt-sobre {
        padding-top: 20%;
        padding-left: 5%; 
        max-width: 95vw; 
        font-size: 0.75rem; 
    }
    .section-sobre img {
        top: -50px;
    }
    form {
        height: 60vh;
    }
}

@media (min-width:592px) {
    #alterar-tema{
        top: 15%;
    }
    .button-menu {
        left: 92%;
    }
    .nome-titulo{
        font-size: 1.8rem;
    }
    .img-home{
        height: 40%;
        margin-top: 5%;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 80%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.4rem;
    }
    .container-Sociais {
        width: 50%; 
    }
    .container-Sociais p {
     font-size: 0.8rem;
    }
    .social-logo {
        height: 30px;  
    }
    .overlay h3 {
        font-size: 1.5rem; 
    }
    .project-description {
        font-size: 0.9rem;
    }
}
@media (min-width:692px) {
    #alterar-tema{
        top: 10px;
    }
    .button-menu {
        left: 94%;
    }
    .nome-titulo {
        font-size: 2rem; 
    }  
    .nav-link {
        font-size: 0.8rem;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 60%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.2rem;
    }
    .container-Sociais {
        width: 50%; 
    }
    .container-Sociais p{
        font-size: 0.8rem;
    }
    .social-logo {
        height: 30px;  
    }
}
@media (min-width:792px) {
    .container-Sociais {
        width: 40%; 
    }
    .section-sobre{
        flex-direction: row;
    }
    .txt-sobre {
        font-size: 1rem; 
        padding-top: 10%;
        max-width: 65vw; 
    }
    .section-sobre img {
        width: 30vw; 
        height: auto; 
        object-fit: cover; 
    }
    .img-sobre{
        padding-right: 10px;
    }
    form {
        height: 50vh;
        width: 60%; 
    }
}
@media (min-width: 992px) {
    .nome-titulo {
        font-size: 2rem; 
    }  
    .button-menu{
        display: none;
    }
    .nav-bar {
        display: flex; /* Flexbox para os links ficarem na mesma linha */
        justify-content: end;
        gap: 0.5rem; /* Espaçamento entre os links */
        top: 20%;   
        margin-left: 35%; 
    }
    .nav-link {
        font-size: 0.8rem;
        color: #f4e6cc;
        text-decoration: none;
        padding: 0.5rem;
    }
    .boas-vindas{
        left: 50%;
        font-size: 1.2rem;
    } 
    .social-logo{
        height: 30px;
    }
    .section-sobre{
        flex-direction: row;
    }
    .txt-sobre {
        font-size: 1rem; 
        padding-top: 10%;
        padding-left: 5%; 
        max-width: 65vw; 
        line-height: 1.6;
        color:#f2e8c6;
        font-family: 'Poppins', sans-serif;
    }
    .section-sobre img {
        width: 30vw; 
        height: auto; 
        object-fit: cover; 
    }
    .img-sobre{
        padding-right: 10px;
    }
    form {
        height: 60vh;
        width: 40%; 
    }
}
@media(min-width:1280px)  {
    .nav-bar {
        margin-left: 40%;
    }
    .nome-titulo{
        font-size: 2.5rem;
    }
    .boas-vindas {
        width: 40%; 
        top: 52%; 
        font-size: 1.4rem;
        line-height: 1; 
        padding: 1%;
    } 
    .container-Sociais {
        width: 35%; 
    }
    .social-logo {
        height: 40px;  
    }
    .container-Sociais p {
        font-size: 1rem; 
        display: inline-flex; 
        align-items: center;
    }
    .section-sobre{
        flex-direction: row;
    }
    .section-sobre img {
        width: 30vw; 
        height: auto; 
        object-fit: cover; 
    }
    .img-sobre{
        padding-right: 10px;
    }
}
@media(min-width:1580px)  {
    .boas-vindas{
        top: 30%;
        left: 70%;
        font-size: 1.4rem;
    }   
    .img-home{
        height: 60%;
        width: 60%;
    }
    .container-Sociais {
        width: 30%; 
    }
    .social-logo {
        height: 40px;  
    }
    .container-Sociais p {
        font-size: 1rem; 
        display: inline-flex; 
        align-items: center;
    }

}   


/*modo retrato*/

@media (min-width: 480px) and (max-height: 480px) {
    .nome-titulo{
        font-size: 1.5rem;
    }
    .nav-bar {
        top: 15px; 
    }
    .nav-link {
        font-size: 0.8rem;
    }
    .img-home {
        height: 45%;
        position: absolute;
        top: -8%;
    }

    .boas-vindas{
        font-size: 0.7rem;
        width: 70%;

    }
    .multiple-text{
        font-size: 0.8rem;
    }
    .txt-home{
        font-size: 0.6rem;
    }
    .container-Sociais{
        width: 50vw;
    }
    .container-Sociais p{
        font-size: 0.6rem;
    }
    .txt-sobre{
        font-size: 0.6rem;
    }
    form {
        height: 75vh;
        width: 90%; 
        padding-top: 0;
        padding-bottom: 0;
    }

    form label {
        font-size: 0.6rem; /* Reduz um pouco o tamanho da fonte */
    }

    form input, form textarea {
        font-size: 0.5rem; /* Ajusta o tamanho da fonte para melhor leitura */
        border-width: 3px; /* Reduz a borda para não ficar muito grossa */
        height: 8%;
    }

    form button {
        width: 10%; /* Aumenta o botão para facilitar o clique */
        font-size: 0.8rem;
    }
}



/* Tema escuro-claro*/

.modo-claro .nome-titulo{
    color: #2c202c;
}
.modo-claro .nome-titulo:hover {
    color: #d44e2c;
    text-decoration: none;
}
.modo-claro .nav-link:hover {
    color: #d44e2c;
}
.modo-claro .nav-link.active {
    color: #d44e2c; 
}
.modo-claro #menu-calro{
    display: none;
}
.modo-claro #menu-escuro{
    display: inline;
}
.modo-claro .nav-link{
    color: #2c202c;
}
.modo-claro .section-home {
    background-color: #f4e6cc; 
}
.modo-claro .section-home .boas-vindas{
    background-color: #d1b68d;
}
.modo-claro .section-home .pre-formatado{
    color: #2c202c;
}
.modo-claro .section-home .txt-home{
    color: #2c202c;
}
.modo-claro .section-home .multiple-text{
    color: #2c202c;
}
.modo-claro .section-home .container-Sociais p{
    color: #2c202c;
}
.modo-claro .section-home .social-logo{
    background-color: #d1b68d;
}
.modo-claro .section-sobre{
    background-color: #d1b68d;
}
.modo-claro .section-sobre .txt-sobre{
    color: #2c202c;
}
.modo-claro .section-projetos{
    background-color: #f4e6cc; 
}
.modo-claro .section-contato{
    background-color: #d1b68d;
}
.modo-claro .container-form{
    background-color: #2c202c;
    border: 2px solid #d1b68d;
}

.modo-claro form input, form textarea {
    padding: 1%;
    border: 2px solid #d1b68d;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;  
    color: #2c202c;
}
