@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
body, html {
    overflow: hidden;
    background-color: transparent;
}
.button-menu{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    margin-left: auto;         
    position: relative;     
    top: -5px;
}
section {
    min-height: 100vh; 
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    align-items: center; 
    flex-wrap: nowrap; 
}
.custom-navbar {
    padding: 2rem 3rem; 
    height: auto; 
    max-height: 5ch; 
    
}

.custom-navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
    color: #f4e6cc;
    text-align: center;
}

.custom-navbar .navbar-nav .nav-item .nav-link:active,
.custom-navbar .navbar-nav .nav-item .nav-link:focus,
.custom-navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent; 
    outline: none;
    
}

.custom-navbar .navbar-nav .nav-item .nav-link:hover {
    color: #d44e2c;
    
}

.custom-navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.custom-navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.custom-navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Exibe o dropdown ao passar o mouse */
}
.custom-navbar .navbar-nav .nav-item .nav-link.active {
    color: #d44e2c; /* Cor do link ativo */
    font-weight: bold; /* Opcional */
}

.nome-titulo {
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: 'Alex Brush', cursive;
    font-size: 3.5rem; 
    font-weight: 700; 
    color: #f4e6cc; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5); 
    opacity: 0.4; 
}
.nome-titulo:hover {
    color:  #d44e2c; /* Mantém a mesma cor ao passar o mouse */
    text-decoration: none; /* Garante que continue sem sublinhado */
}
/* Home*/
.section-home {   
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #2c202c; /* Cor de fundo */
    align-items: top;  
}
.boas-vindas {
    width: 80%; 
    left:50%;
    top: 50%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%); 
    text-align: left; 
    color: #f4e6cc;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    padding: 2%;
    background-color: rgba(44, 32, 44, 0.8);
    border-radius: 1%; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); 
    
} 
.pre-formatado {
    color: #d4d4d4;
    font-family: 'Courier New', monospace;
    font-size: 90%;
    white-space: pre-line; 
    overflow-wrap: break-word;
    overflow-y: hidden;   
}

.img-home{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-home img {
    object-fit: contain;
    animation: fadeInScale 4s ease-out infinite; 
    border-radius: 50%; 
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.9); 
}
@keyframes fadeInScale {
    0% {
        opacity: 0.3; 
        transform: scale(0.5) rotate(2deg); 
    }
    25% {
        opacity: 0.7; 
        transform: scale(0.5) rotate(-7deg);
    }
    50% {
        opacity: 0.3; 
        transform: scale(0.5) rotate(1deg);
    }
    75% {
        opacity: 0.7; 
        transform: scale(0.5) rotate(7deg);
    }
    100% {
        opacity: 1; 
        transform: scale(0.5) rotate(1deg);
    }
}
.txt-home {
    position: absolute;
    top: 65%; 
    left: 5%; 
    width: 60%; 
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5rem; 
    font-weight: 500; 
    color:  #d1b68d; 
    line-height: 1.8; 
    text-align: justify; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); 
}
.typed-cursor {
    display: inline-block;
    width: 10px;
    height: 1.2em;
    margin-left: 0.5%;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}
.multiple-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: #f4e6cc;
    vertical-align: middle; 
    line-height: 1.5; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 0 0 25px rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.container-Sociais {
    position: absolute;
    top: 85%; 
    right: 5%;
    display: flex;
    justify-content: space-between; 
    width: 40%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); 

}
.container-Sociais p {
    font-family: 'Raleway', sans-serif; 
    font-size: 1.2rem; 
    font-weight: 300; 
    color: #f4e6cc; 
    text-align: center; 
    letter-spacing: 0.2ch; 
    padding-top: 2%;
}

.social-logo {
    width: 100%; 
    height: 4vh;  
    transition: transform 0.3s ease; 
    background-color: #d1b68d;
    border-radius: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.social-logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    filter: brightness(1.2);
}

/*Sobre*/

.section-sobre {
    display: flex;
    justify-content: space-between;
    text-align: justify; 
    background-color: #3d4044;
}
.txt-sobre {
    padding-top: 8%;
    padding-left: 5%; 
    max-width: 50vw; 
    font-size: 1.1rem; 
    line-height: 1.6;
    color:#f2e8c6;
    font-family: 'Poppins', sans-serif;
    
}
.section-sobre img {
    width: 40vw; 
    height: auto; 
    object-fit: cover; 
}
.img-sobre {
    object-fit: cover;
    transition: transform 0.3s ease;
}

/*Projetos*/

.section-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #2c202c;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20%; 
    justify-items: center; 
    width: 100%;
    max-width: 1200px; 
}
.card-cosmepedia-front {
    background-color: #072847;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 25vh;
    justify-content: center;
    border-radius: 3%;
}
.card-cosmepedia-back {
    background-color:#072847;
    border-radius: 3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 25vh;
    justify-content: center;
}
.img-cosmepedia-back{
    width: 100%;
    height: 100%; 
    border-radius: 30%; 
    object-fit: contain; 
}
.card:hover {
    transform: translateY(-5px);
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
}
.card:hover .overlay {
    opacity: 1;
}
.overlay h3 {
    margin: 0 0 1rem 0; 
    font-size: 1.25rem; 
    font-weight: bold;
}
.project-description {
    font-size: 1rem;
    text-align: justify;
    margin: 0;
    max-width: 100%;
    color: #f2e8c6;
}

/*Contato*/

.section-contato {
    background-color: #3d4044; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
form {
    display: flex;
    flex-direction: column;
    gap: 3ch; 
    width: 40%; 
    padding: 1% 1%;
    background-color:#d1b68d;
    border-radius: 2%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 1); 
}
form label {
    font-weight: bold;
    color:#f2e8c6;
    font-size: 1rem;
}
form input, form textarea {
    padding: 1%;
    border: 5px solid #f2e8c6;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;  
}
form textarea {
    resize: none; 
}
form button {
    width: 20%;
    background-color: #007BFF; 
    color: #f2e8c6;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}
form button:hover {
    background-color: #0056b3; 
}
@media (max-width:320px){
    .custom-navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.7rem;
        margin-top: -30px;
    }
    .nome-titulo {
        left: 5%;
        top: 10%;
        font-size: 1.5rem; 
    }
    .button-menu{
        top: -25px;
        left: 15%; 
    }
    .button-menu svg {
        width: 60%;   
    }
    .img-home{
        height: 40%;
        margin-top: 10%;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 0.7rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 60%; 
        left: 5%; 
        width: 80%; 
        font-size: 0.7rem; 
    }
    .multiple-text {
        font-size: 0.9rem;
    }
    .container-Sociais {
        width: 80%; 
    }
    .container-Sociais p {
     font-size: 0.6rem;
    }
    .social-logo {
        height: 4vh;  
    }
}
@media (min-width:321px) {
    .custom-navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
        margin-top: -20px;
    }
    .nome-titulo {
        left: 5%;
        top: 10%;
        font-size: 1.7rem; 
    }
    .button-menu{
        top: -22px;
        left: 15%; 
    }
    .button-menu svg {
        width: 60%;   
    }
    .img-home{
        height: 40%;
        margin-top: 5%;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 65%; 
        left: 5%; 
        width: 80%; 
        font-size: 0.8rem; 
    }
    .multiple-text {
        font-size: 1rem;
    }
    .container-Sociais {
        width: 70%; 
    }
    .container-Sociais p {
     font-size: 0.7rem;
    }
    .social-logo {
        height: 3vh;  
    }
}
@media (min-width:392px) {
    .custom-navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
        margin-top: -10px;
    }
    .nome-titulo {
        left: 5%;
        top: 10%;
        font-size: 2.2rem; 
    }
    .button-menu{
        top: -20px;
        left: 8%;
    }
    .button-menu svg {
        width: 70%;   
    }
    .img-home{
        height: 40%;
        margin-top: 5%;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 80%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.4rem;
    }
    .container-Sociais {
        width: 65%; 
    }
    .container-Sociais p {
     font-size: 0.8rem;
    }
    .social-logo {
        height: 3vh;  
    }
}
@media (min-width:592px) {
    .custom-navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
        margin-top: -10px;
    }
    .nome-titulo {
        left: 5%;
        top: 10%;
        font-size: 2.2rem; 
    }
    .button-menu{
        top: -20px;
        left: 8%;
    }
    .button-menu svg {
        width: 70%;   
    }
    .img-home{
        height: 40%;
        margin-top: 5%;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 80%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.4rem;
    }
    .container-Sociais {
        width: 50%; 
    }
    .container-Sociais p {
     font-size: 0.8rem;
    }
    .social-logo {
        height: 3vh;  
    }
}
@media (min-width:692px) {
    .button-menu{
        left: 5%;
        top: -25px;
    }
    .button-menu svg {
        width: 70%;   
    }
    .nome-titulo{
        font-size: 2rem;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 60%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.2rem;
    }
    .container-Sociais {
        width: 50%; 
    }
    .container-Sociais p{
        font-size: 0.8rem;
    }
    .social-logo {
        height: 3vh;  
    }
}
@media (min-width:792px) {
    .button-menu{
        left: 5%;
        top: -25px;
    }
    .button-menu svg {
        width: 70%;   
    }
    .nome-titulo{
        font-size: 2rem;
    }
    .boas-vindas {
        width: 90%; 
        top: 50%; 
        font-size: 1.1rem;
        line-height: 1; 
        padding: 1%;
    } 
    .txt-home {
        top: 62%; 
        left: 5%; 
        width: 60%; 
        font-size: 1rem; 
    }
    .multiple-text {
        font-size: 1.2rem;
    }
    .container-Sociais {
        width: 40%; 
    }
    .container-Sociais p{
        font-size: 0.8rem;
    }
    .social-logo {
        height: 3vh;  
    }
}
@media (min-width: 992px) {
    .button-menu{
        display: none;
    }
    .boas-vindas{
        left: 50%;
        font-size: 1.2rem;
    } 
}
@media(min-width:1280px)  {
    .custom-navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.3rem; 
    }
    .boas-vindas {
        width: 40%; 
        top: 52%; 
        font-size: 1.4rem;
        line-height: 1; 
        padding: 1%;
    } 
    .container-Sociais {
        width: 35%; 
    }
    .social-logo {
        height: 4vh;  
    }
    .container-Sociais p {
        font-size: 1rem; 
        display: inline-flex; 
        align-items: center;
    }
}
@media(min-width:1580px)  {
    .nome-titulo{
        font-size: 3rem;
    }
    .boas-vindas{
        top: 30%;
        left: 70%;
        font-size: 1.4rem;
    }   
    .img-home{
        height: 60%;
        width: 60%;
    }
    .container-Sociais {
        width: 30%; 
    }
    .social-logo {
        height: 4vh;  
    }
    .container-Sociais p {
        font-size: 1rem; 
        display: inline-flex; 
        align-items: center;
    }

}   
 